* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: pink;
}

header {
    background-color: #ff59ba;
    text-align: center;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 10px 50px;
    background-color: pink;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

a {
    margin: 0 10px;
    padding: 10px;
    background: #ff59ba;
    border: 2px solid pink;
    border-radius: 5px;
    text-decoration: none;
    color: pink;
    box-shadow: 0 0 10px pink;
    transition: color 0.3s, box-shadow 0.3s;
}

a:hover {
    color: #9c006a;
    box-shadow: 0 0 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

footer {
    background-color: #ff59ba;
    text-align: right;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

p {
    margin-right: 40px;
}
