body {
	background: #918c7e;
	margin: 100px;  
	max-width: auto; 
	font-family: Verdana, sans-serif;
	color: #ffffff;
}


.top {
	background: #918c7e;
	border: 3px dotted #d9d2c1;
	margin: 60px 0px;
	text-align: center;
	font-family: Times new roman, cursive;
	color: #d9d2c1;
} 

.element{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

hr {
	color: #d9d2c1;
}

.dol {
	font-family: Times new roman;
	color: #d9d2c1;
	text-align: center;
}